@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a2f45;
  /* background: linear-gradient(to bottom, black, black 5%, #0a2f45); */
}

.bg-image {
  position: relative;
  overflow: hidden;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/argentinaintro.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(8px); /* Ajusta el valor según el nivel de desenfoque que desees */
  z-index: -1; /* Asegura que la imagen de fondo esté detrás del contenido */
}

.glass-effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-effect-card {
  background: rgba(0, 0, 0, 0.413);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
